.carousel, .carousel-inner > .item > img {
    height: 20%;
    width: 100%;
  }

img{
    height: 200px;
    width: 50px;
}


*{
    font-family: 'Bree Serif', serif;
}

body{

    background-color: rgb(192, 190, 187);

}